body
{
	background-image: url('back2.jpg');
	background-size: 100%;
	font-family: Lucida Console;
}
h3
{
	color: #3E778E;
	border-bottom: 1px solid #3E778E;
	padding: 2%;
	font-size: 14px;
	text-transform: uppercase;
}
#forms div
{
	width: 30%;
	margin: auto;
	position: absolute;
	background-color: #F2F2F2;
	text-align: center;
	border-radius: 5px;
	box-shadow: 2px 2px 20px black;
	opacity: 0;
	top: 10%;
	left: 70%;
}
input, textarea
{
	margin: auto;
	display: block;
	margin-top: 3%;
	padding: 3%;
	font-size: 12px;
	border-radius: 5px;
	outline: none;
}
input:focus
{
	background-color: #D7EBEA;
}
textarea:focus
{
	background-color: #D7EBEA;
}
button
{
	width: 22%;
	height: 30px;
	color: #FFFFFF;
	background-color: #3E778E;
	border-radius: 5px;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
}
button:hover
{
	background-color: #35B6D0;
}
